.header{
  background: #4B2A01;

}

.header nav a{
  color: white;
}

.header nav .navbarSupportedContent .inicio-sesion{
  color: white;
}

.header nav .navbarSupportedContent .inicio-sesion li a:hover{
  color: grey;
}


.header .nav-dropdown a{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}
